# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# IPython checkpoints
.ipynb_checkpoints/

# Local configuration
.env
.python-version

# Data
data/

# Tensorflow summaries & model parameters
summaries/
checkpoints/
