numpy
scipy
pandas
tables
scikit-learn
matplotlib
seaborn

tensorflow-gpu
#tensorflow

jupyter
ipython

python-dotenv
tqdm

# Only needed for NLP experiments.
gensim

# Cannot be installed with pip.
#graph-tool
